<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>homeapp</title>
</head>
<nav class="navbar navbar-light bg" style="background-color:#3a4660">
  <a class="navbar-brand" style="font-size: xx-large; color:white; display: flex;" routerLink="/">GolanShop<h1
      style="color: #c9af98;">
      .</h1></a>
  <div id='profil'>
    <div id="nameProfil">{{login}}</div>
    <div id="disconnect" *ngIf="login != 'Disconnected'" (click)="disconnected()">Sign out</div>
  </div>
</nav>

<body>
  <section id="section-center">
    <router-outlet></router-outlet>
  </section>
</body>

<footer>
  <p>© Golan-Shop</p>
</footer>

</html>