<nav id="categorysSearch" class="navbar navbar-expand-lg navbar-light bg" style="background: #c9af98;">
    <div id="categorys">
        <div *ngFor="let category of categorys" id="{{category.category_id}}"
            (click)="changeCategory(category.category_id,category.category_name)" class="category">
            {{category.category_name}}</div>
    </div>
    <form id="searchProduct" (submit)="search()" class="form-inline my-2 my-lg-0">
        <span routerLink="/card" style="margin-right: 5px;">card </span>
        <input type="search" name="search" id="search" [(ngModel)]="theSearch" placeholder="search products">
        <input type="submit" id="btnSearch" value="S">
    </form>
</nav>

<body style="background-color: white;">
    <h3 id="messageHere">hi zb</h3>
    <div class="card-columns" *ngIf="categoryProducts">
        <div class="card" *ngFor="let product of products" (click)="popupProduct(product)">
            <img class="card-img-top" src="{{GlobalyPathInto}}/products-imgs/{{product.img}}" alt="">
            <div class="card-body">
                <h5 class="card-title" style="color:  #ed8a63;">{{product.price}} ₪</h5>
                <p class="card-text">{{product.product_name}}</p>
            </div>
        </div>
    </div>
</body>
<div *ngIf='ifPopup' id="backgroundPopup" (click)='closePopup($event)'>
    <div id="popup">
        <div class="deleteCross" (click)="closePopupCross()">X</div>
        <img src="{{GlobalyPathInto}}/products-imgs/{{productPopup.img}}" alt="" class="prodimg">
        <div>
            <div>{{productPopup.product_name}}</div><br>
            <div class="prodPrice">{{productPopup.price}} ₪</div><br>
            <div id="addquantity">
                Quantity: &nbsp; <button class="plusminus" (click)="changeQuantity('-')">-</button>
                <div>{{quantity}}</div><button class="plusminus" (click)="changeQuantity('+')">+</button>
            </div><br>
            <button (click)="addToCart(productPopup.product_id)">Add to cart</button>
        </div>
    </div>
</div>