#home-components{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-image:url('./imgs//brown-shopping-bags-5956.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}
.home-comp{
    background-color: #303841;
    color: white;
    border-radius: 15px;
    display: block;
    width: 30%;
    height: 90%;
    max-width: 350px;
    max-height: 500px;
    min-height: 450px;
    min-width: 300px;
    margin: 10px;
    box-shadow: 0 5px 20px black;
}
